.task-list {
  font-size: 1rem;
  font-weight: normal;
  color: #fafafa;
}

.task-item {
	margin-left: 1.25rem;
    line-height: 25px;
    cursor: pointer;
    user-select: none;
}

.task-list.done .task-item{
	text-decoration: line-through;
}

.btn-outline-danger {

}