.clock-numb {
	font-family: "Montserrat";
	font-weight: bold; 
	background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
    background-size: cover;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
    font-size: 8.1em;
    line-height: .75;
    margin: 10px 0;
}

.add-text {
    font-family: "Montserrat";
    line-height: 30px;
    font-size: 1.8em;
    width: 100%;
    overflow-wrap: break-word;  /* не поддерживает IE, Firefox; является копией word-wrap */ 
    word-wrap: break-word;
    word-break: keep-all;  /* не поддерживает Opera12.14, значение keep-all не поддерживается IE, Chrome */ 
    line-break: loose;  /* нет поддержки для русского языка */ 
    -webkit-hyphens: none; -ms-hyphens: none; hyphens: none;  /* значение auto не поддерживается Chrome */ 
    
}